:root{
    /*cake colors*/
    --cake-light:#fff3b0;
    --cake-dark: #eed7be;

    /*cream color*/
    --whipped-cream:#ffffef;
    --top-cream: #f2f1f5;

    /*strawberry color*/
    --strawberry:#ff3c3c;
    --strawberry-inner:#ffb3b3;
    --strawberry-veins:#ffe6e6d8;
    --strawberry-pit:#f9dbdbed;
    --seeds: #00000070;
}
body{
    margin:0;
    padding:0;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:#fdc3d5;
}
.container{
    width:400px;
    height:450px;
    position:relative;
    perspective:800px;
}
.container .side-cream{
    position:absolute;
    background-color:var(--whipped-cream);
    width:25px;
    height:415px;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    z-index:1;
    left:-24;
    top:-4;
}
.cake .cake-top{
    top:-19;
    left:96;
    border-top-right-radius:20px;
    width:268px;
    height:55px;
    position:absolute;
    background-color: var(--top-cream);
    transform:rotate(7deg) skewX(-61deg);
    z-index:-1;
}
.cake .cake-top span{
    height:50px;
    width:92px;
    position:absolute;
    border-top-left-radius:20px;
    background-color: var(--top-cream);
    transform:rotate(2deg) skewY(-6deg);
    z-index:-1;
    top:-1;
    left:-77;
}
.cake .top-layer-1{
    background-color:var(--cake-light);
    width:0;
    height:100px;
    border-top: 25px solid #f9a2bc;
	border-left: 400px solid var(--cake-light);
	border-bottom: 25px solid transparent;
    position: absolute;
    top:5;
}
.cake .top-layer-2{
    background-color:var(--cake-light);
    width:0;
    height:100px;
    border-top: 5px solid var(--cake-light);
	border-left: 400px solid var(--cake-light);
	border-bottom: 5px solid transparent;
    position: absolute;
    bottom:40;
    right:1;
    transform:rotate(1deg);
}
.cake .bottom-layer-1{
    background-color:var(--cake-dark);
    width:100%;
    height:10px;
    position:absolute;
    top:135;
    z-index:1;
    transform:rotate(1deg);
}
.cake .bottom-layer-2{
    background-color:var(--cake-dark);
    width:100%;
    height:10px;
    position:absolute;
    bottom:35;
    transform:rotate(1deg);
    right:2;
}
.container .top-cream{
    background-color: var(--whipped-cream);
    position: absolute;
    top:0;
    width:100%;
    height:30px;
    border-bottom: 15px solid var(--whipped-cream);
    z-index:1;
    transform: rotate(1deg);
}
.container .strawberry{
    background-color:var(--strawberry);
    width:120px;
	height: 120px;
	border-top-left-radius: 40px;
	border-top-right-radius: 150px;
    border-bottom-left-radius:150px;
    border-bottom-right-radius:300px;
    transform:rotate(46deg);
    position:absolute;
    top:-100;
}

.cream .cream-top{
    background-color:var(--whipped-cream);
    width:100%;
    height:45px;
    position:absolute;
    top:145;
    transform:rotate(1deg);
    border-top:5px solid var(--whipped-cream);
}
.cream .cream-bottom{
    background-color:var(--whipped-cream);
    width:100%;
    height:45px;
    position:absolute;
    top:250;
    transform:rotate(1deg);
    border-bottom:5px solid var(--whipped-cream);
}

.container .strawberry-layer .strawberry-side1,.strawberry-side2,.strawberry-side3{
    background-color:var(--strawberry);
    width:80px;
    border-top-left-radius:60px;
    border-bottom-left-radius:80px;
    border-top-right-radius:30px;
    border-bottom-right-radius:60px;
    top:185;
    height:80px;
    position:absolute;
    transform:rotate(47deg);
}
.container .strawberry-layer span{
    background-color:var(--whipped-cream);
    height:70px;
    width:70px;
    top:190;
    position:absolute;
    z-index:-1;
}
.strawberry-layer .strawberry-side1{
    margin-left:30px;
}
.strawberry-layer .strawberry-side2{
    margin-left:150px;
}
.strawberry-layer .strawberry-side3{
    margin-left:270px;
}
.strawberry-layer span:first-child{
    left:0;
}
.strawberry-layer span:nth-child(3){
    left:95;
}
.strawberry-layer span:nth-child(5){
    left:215;
}
.strawberry-layer span:nth-child(7){
    left:330;
}
.strawberry-inner1, .strawberry-inner2,.strawberry-inner3{
    background-color:var(--strawberry-inner);
    width:60px;
    border-top-left-radius:60px;
    border-bottom-left-radius:80px;
    border-top-right-radius:30px;
    border-bottom-right-radius:60px;
    top:15;
    left:5;
    height:60px;
    position:absolute;
    transform:rotate(357deg);
    border:1px solid var(--strawberry-pit);
}

.strawberry-inner1 .strawberry-veins span:nth-child(1){
    position:absolute;
    top:-4;
    left:5;
    height:1px;
    width:15px;
    background-color:var(--strawberry-veins);
    transform:rotate(276deg);
}
.strawberry-inner1 .strawberry-veins span:nth-child(2){
    position:absolute;
    top:-8;
    left:24;
    height:1px;
    width:15px;
    background-color:var(--strawberry-veins);
    transform:rotate(281deg);
}
.strawberry-inner1 .strawberry-veins span:nth-child(3){
    position:absolute;
    top:-8;
    left:44;
    height:1px;
    width:15px;
    background-color:var(--strawberry-veins);
    transform:rotate(287deg);
}
.strawberry-inner1 .strawberry-veins span:nth-child(4){
    position:absolute;
    top:52;
    left:52;
    height:1px;
    width:15px;
    background-color:var(--strawberry-veins);
    transform:rotate(179deg);
}
.strawberry-inner1 .strawberry-veins span:nth-child(5){
    position:absolute;
    top:34;
    left:60;
    height:1px;
    width:15px;
    background-color:var(--strawberry-veins);
    transform:rotate(358deg);
}
.strawberry-inner1 .strawberry-veins span:nth-child(6){
    position:absolute;
    top:15;
    left:60;
    height:1px;
    width:15px;
    background-color:var(--strawberry-veins);
    transform:rotate(353deg);
}
.strawberry-inner2 .strawberry-veins span:nth-child(1){
    position:absolute;
    top:-5;
    left:7;
    height:1px;
    width:15px;
    background-color:var(--strawberry-veins);
    transform:rotate(276deg);
}
.strawberry-inner2 .strawberry-veins span:nth-child(2){
    position:absolute;
    top:-8;
    left:27;
    height:1px;
    width:15px;
    background-color:var(--strawberry-veins);
    transform:rotate(281deg);
}
.strawberry-inner2 .strawberry-veins span:nth-child(3){
    position:absolute;
    top:-7;
    left:46;
    height:1px;
    width:15px;
    background-color:var(--strawberry-veins);
    transform:rotate(287deg);
}
.strawberry-inner2 .strawberry-veins span:nth-child(4){
    position:absolute;
    top:52;
    left:52;
    height:1px;
    width:15px;
    background-color:var(--strawberry-veins);
    transform:rotate(179deg);
}
.strawberry-inner2 .strawberry-veins span:nth-child(5){
    position:absolute;
    top:34;
    left:60;
    height:1px;
    width:15px;
    background-color:var(--strawberry-veins);
    transform:rotate(358deg);
}
.strawberry-inner2 .strawberry-veins span:nth-child(6){
    position:absolute;
    top:16;
    left:60;
    height:1px;
    width:15px;
    background-color:var(--strawberry-veins);
    transform:rotate(353deg);
}
.strawberry-inner3 .strawberry-veins span:nth-child(1){
    position:absolute;
    top:-5;
    left:7;
    height:1px;
    width:15px;
    background-color:var(--strawberry-veins);
    transform:rotate(276deg);
}
.strawberry-inner3 .strawberry-veins span:nth-child(2){
    position:absolute;
    top:-8;
    left:27;
    height:1px;
    width:15px;
    background-color:var(--strawberry-veins);
    transform:rotate(281deg);
}
.strawberry-inner3 .strawberry-veins span:nth-child(3){
    position:absolute;
    top:-7;
    left:46;
    height:1px;
    width:15px;
    background-color:var(--strawberry-veins);
    transform:rotate(287deg);
}
.strawberry-inner3 .strawberry-veins span:nth-child(4){
    position:absolute;
    top:52;
    left:52;
    height:1px;
    width:15px;
    background-color:var(--strawberry-veins);
    transform:rotate(179deg);
}
.strawberry-inner3 .strawberry-veins span:nth-child(5){
    position:absolute;
    top:34;
    left:60;
    height:1px;
    width:15px;
    background-color:var(--strawberry-veins);
    transform:rotate(358deg);
}
.strawberry-inner3 .strawberry-veins span:nth-child(6){
    position:absolute;
    top:16;
    left:60;
    height:1px;
    width:15px;
    background-color:var(--strawberry-veins);
    transform:rotate(353deg);
}
.strawberry span:nth-child(1){
    width:2px;
    height:2px;
    border-radius: 0 50% 50% 50%;
    border:1px solid var(--seeds);
    position:absolute;
    top:10;
    left:10;
}
.strawberry span:nth-child(2){
    width:2px;
    height:2px;
    border-radius: 0 50% 50% 50%;
    border:1px solid var(--seeds);
    position:absolute;
    top:26;
    left:10;
}
.strawberry span:nth-child(3){
    width:2px;
    height:2px;
    border-radius: 0 50% 50% 50%;
    border:1px solid var(--seeds);
    position:absolute;
    top:10;
    left:26;
}
.strawberry span:nth-child(4){
    width:2px;
    height:2px;
    border-radius: 0 50% 50% 50%;
    border:1px solid var(--seeds);
    position:absolute;
    top:42;
    left:10;
}
.strawberry span:nth-child(5){
    width:2px;
    height:2px;
    border-radius: 0 50% 50% 50%;
    border:1px solid var(--seeds);
    position:absolute;
    top:26;
    left:26;
}
.strawberry span:nth-child(6){
    width:2px;
    height:2px;
    border-radius: 0 50% 50% 50%;
    border:1px solid var(--seeds);
    position:absolute;
    top:10;
    left:42;
}
.strawberry span:nth-child(7){
    width:2px;
    height:2px;
    border-radius: 0 50% 50% 50%;
    border:1px solid var(--seeds);
    position:absolute;
    bottom:17;
    right:53;
}
.strawberry span:nth-child(8){
    width:2px;
    height:2px;
    border-radius: 0 50% 50% 50%;
    border:1px solid var(--seeds);
    position:absolute;
    bottom:15;
    right:66;
}
.strawberry span:nth-child(9){
    width:2px;
    height:2px;
    border-radius: 0 50% 50% 50%;
    border:1px solid var(--seeds);
    position:absolute;
    top:113;
    left:48;
}
.strawberry span:nth-child(10){
    width:2px;
    height:2px;
    border-radius: 0 50% 50% 50%;
    border:1px solid var(--seeds);
    position:absolute;
    top:87;
    left:64;
}
.strawberry span:nth-child(11){
    width:2px;
    height:2px;
    border-radius: 0 50% 50% 50%;
    border:1px solid var(--seeds);
    position:absolute;
    top:86;
    left:76;
}
.strawberry span:nth-child(12){
    width:2px;
    height:2px;
    border-radius: 0 50% 50% 50%;
    border:1px solid var(--seeds);
    position:absolute;
    top:74;
    left:77;
}
.strawberry span:nth-child(13){
    width:2px;
    height:2px;
    border-radius: 0 50% 50% 50%;
    border:1px solid var(--seeds);
    position:absolute;
    top:72;
    left:90;
}
.strawberry span:nth-child(14){
    width:2px;
    height:2px;
    border-radius: 0 50% 50% 50%;
    border:1px solid var(--seeds);
    position:absolute;
    top:59;
    left:92;
}
.strawberry span:nth-child(15){
    width:2px;
    height:2px;
    border-radius: 0 50% 50% 50%;
    border:1px solid var(--seeds);
    position:absolute;
    top:57;
    left:105;
}
.strawberry span:nth-child(16){
    width:2px;
    height:2px;
    border-radius: 0 50% 50% 50%;
    border:1px solid var(--seeds);
    position:absolute;
    top:43;
    left:108;
}