:root{
    /*cake colors*/
    --cake-light:#fffadc;
    --cake-dark: #eed7be;

    /*cream color*/
    --whipped-cream:#ffffef;

    /*strawberry color*/
    --strawberry:#ff3c3c;
}
body{
    margin:0;
    padding:0;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:#f9a2bc;
}
.container{
    width:400px;
    height:400px;
    position:relative;
}
.cake .top-layer-1{
    background-color:var(--cake-light);
    width:70%;
    height:100px;
    border-top: 20px solid transparent;
	border-left: 400px solid transparent;
	border-bottom: 1px solid transparent;
    position: absolute;
    top:5%;
}
.cake .bottom-layer-1{
    background-color:var(--cake-dark);
    width:70%;
    height:20px;
    position:absolute;
    top:10%;
}
.content .strawberry{
    background-color:var(--strawberry);
    width:70%;
    height:100px;
    position:absolute;
    top:0;
}

.content .cream{
    background-color:var(--whipped-cream);
    width:70%;
    height:50px;
    position:absolute;
    top:30%;
}