:root{
    /*cake colors*/
    --cake-light:#fff3b0;
    --cake-dark: #eed7be;

    /*cream color*/
    --whipped-cream:#ffffef;

    /*strawberry color*/
    --strawberry:#ff3c3c;
    --strawberry-inner:#ff8ea0;
}
body{
    margin:0;
    padding:0;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:#f9a2bc;
}
.container{
    width:400px;
    height:450px;
    position:relative;
    perspective:800px;
}
.cake .top-layer-1{
    background-color:var(--cake-light);
    width:0;
    height:100px;
    border-top: 25px solid #f9a2bc;
	border-left: 400px solid var(--cake-light);
	border-bottom: 25px solid transparent;
    position: absolute;
    top:5;
}
.cake .top-layer-2{
    background-color:var(--cake-light);
    width:0;
    height:100px;
    border-top: 25px solid #f9a2bc;
	border-left: 400px solid var(--cake-light);
	border-bottom: 25px solid transparent;
    position: absolute;
    bottom:40;
    transform:rotate(1deg);
}
.cake .bottom-layer-1{
    background-color:var(--cake-dark);
    width:100%;
    height:10px;
    position:absolute;
    top:135;
    z-index:1;
    transform:rotate(1deg);
}
.cake .bottom-layer-2{
    background-color:var(--cake-dark);
    width:100%;
    height:10px;
    position:absolute;
    bottom:35;
    transform:rotate(1deg);
    right:1;
}
.container .top-cream{
    background-color: var(--whipped-cream);
    position: absolute;
    top:0;
    width:100%;
    height:30px;
    border-bottom: 15px solid var(--whipped-cream);
    z-index:1;
    transform: rotate(1deg);
}
.container .strawberry{
    background-color:var(--strawberry);
    width:120px;
	height: 120px;
	border-top-left-radius: 40px;
	border-top-right-radius: 150px;
    border-bottom-left-radius:150px;
    border-bottom-right-radius:300px;
    transform:rotate(46deg);
    position:absolute;
    top:-100;
}

.cream .cream-top{
    background-color:var(--whipped-cream);
    width:100%;
    height:45px;
    position:absolute;
    top:145;
    transform:rotate(1deg);
    border-top:5px solid var(--whipped-cream);
}
.cream .cream-bottom{
    background-color:var(--whipped-cream);
    width:100%;
    height:45px;
    position:absolute;
    top:250;
    transform:rotate(1deg);
    border-bottom:5px solid var(--whipped-cream);
}

.container .strawberry-layer .strawberry-side1,.strawberry-side2,.strawberry-side3{
    background-color:var(--strawberry);
    width:80px;
    border-top-left-radius:60px;
    border-bottom-left-radius:80px;
    border-top-right-radius:30px;
    border-bottom-right-radius:60px;
    top:185;
    height:80px;
    position:absolute;
    transform:rotate(47deg);
}
.container .strawberry-layer span{
    background-color:var(--whipped-cream);
    height:70px;
    width:70px;
    top:190;
    position:absolute;
    z-index:-1;
}
.container .strawberry-layer .strawberry-side1{
    margin-left:30px;
}
.container .strawberry-layer .strawberry-side2{
    margin-left:150px;
}
.container .strawberry-layer .strawberry-side3{
    margin-left:270px;
}
.container .strawberry-layer span:first-child{
    left:0;
}
.container .strawberry-layer span:nth-child(3){
    left:95;
}
.container .strawberry-layer span:nth-child(5){
    left:215;
}
.container .strawberry-layer span:nth-child(7){
    right:0;
}
.strawberry-inner1, .strawberry-inner2,.strawberry-inner3{
    background-color:var(--strawberry-inner);
    width:60px;
    border-top-left-radius:60px;
    border-bottom-left-radius:80px;
    border-top-right-radius:30px;
    border-bottom-right-radius:60px;
    top:185;
    height:60px;
    position:absolute;
    transform:rotate(47deg);
}