:root{
    /*cake colors*/
    --cake-light:#fffadc;
    --cake-dark: #eed7be;

    /*cream color*/
    --whipped-cream:#ffffef;

    /*strawberry color*/
    --strawberry:#ff3c3c;
}
body{
    margin:0;
    padding:0;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:#f9a2bc;
}
.container{
    width:400px;
    height:400px;
    position:relative;
    perspective:800px;
}
.cake .top-layer-1{
    background-color:var(--cake-light);
    width:0;
    height:100px;
    border-top: 25px solid #f9a2bc;
	border-left: 400px solid var(--cake-light);
	border-bottom: 25px solid transparent;
    position: absolute;
    top:5%;
}
.cake .top-layer-2{
    background-color:var(--cake-light);
    width:0;
    height:100px;
    border-top: 25px solid #f9a2bc;
	border-left: 400px solid var(--cake-light);
	border-bottom: 25px solid transparent;
    position: absolute;
    top:40%;
}
.cake .bottom-layer-1{
    background-color:var(--cake-dark);
    width:100%;
    height:20px;
    position:absolute;
    bottom:210;
    z-index:1;
}
.cake .bottom-layer-2{
    background-color:var(--cake-dark);
    width:100%;
    height:20px;
    position:absolute;
    top:45%;
}
.container .top-cream{
    background-color: var(--whipped-cream);
    position: absolute;
    top:0;
    width:100%;
    height:30px;
    border-bottom: 15px solid var(--whipped-cream);
    z-index:1;
    transform: rotate(1deg);
}
.container .strawberry{
    background-color:var(--strawberry);
    width:120px;
	height: 120px;
	border-top-left-radius: 10px;
	border-top-right-radius: 120px;
    border-bottom-left-radius:100px;
    border-bottom-right-radius:100px;
    transform:rotate(42deg);
    position:absolute;
    top:-90;
}

.container .cream .top{
    background-color:var(--whipped-cream);
    width:100%;
    height:50px;
    position:absolute;
    top:40%;
}
.container .cream .bottom{
    background-color:var(--whipped-cream);
    width:100%;
    height:50px;
    position:absolute;
    top:50%;
}

.container .cream .strawberry-side1,.strawberry-side2,.strawberry-side3{
    background-color:var(--strawberry);
    width:20px;
    border-left:25px solid #555;
    border-right:25px solid #555;
    bottom:40;
}

.container .cream .strawberry-side1{
    padding-left:30px;
}