:root{
    /*cake colors*/
    --cake-light:#fffadc;
    --cake-dark: #eed7be;

    /*cream color*/
    --whipped-cream:#ffffef;

    /*strawberry color*/
    --strawberry:#ff3c3c;
}
body{
    margin:0;
    padding:0;
    display:flex;
    align-items:center;
    justify-content:center;
}
.container{
    width:400px;
    height:400px;
    position:relative;
}
.cake .top{
    background-color:var(--cake-light);
    width:70%;
    height:10px;
    transform:skew(15deg, 15deg);
    position: absolute;
}
.cake .bottom{
    background-color:var(--cake-dark);
    width:70%;
    position:absolute;
}
.content .strawberry{
    background-color:var(--strawberry);
    width:70%;
    position:absolute;
}

.content .cream{
    background-color:var(--whipped-cream);
    width:70%;
    position:absolute;
}